In [1]:
import numpy as np

import pandas as pd

from pandas import Series,DataFrame

In [3]:
import webbrowser
website='http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [4]:
nfl_frame = pd.read_clipboard()

In [5]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North
5,6,San Francisco 49ers,545,444,14,0.550,1950,1003,NFC West
6,7,New England Patriots,478,395,9,0.547,1960,882,AFC East

In [6]:
nfl_frame.columns

Index([u'Rank ', u'Team ', u'Won ', u'Lost ', u'Tied* ', u'Pct. ',
       u'First Season ', u'Total Games ', u'Conference'],
      dtype='object')

In [14]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North
5,6,San Francisco 49ers,545,444,14,0.550,1950,1003,NFC West
6,7,New England Patriots,478,395,9,0.547,1960,882,AFC East

In [16]:
nfl_frame[:2]

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North