In [11]:
import numpy as np

import pandas as pd

from pandas import Series,DataFrame

In [3]:
import webbrowser
website='http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [4]:
nfl_frame = pd.read_clipboard()

In [5]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North
5,6,San Francisco 49ers,545,444,14,0.550,1950,1003,NFC West
6,7,New England Patriots,478,395,9,0.547,1960,882,AFC East

In [6]:
nfl_frame.columns

Index([u'Rank ', u'Team ', u'Won ', u'Lost ', u'Tied* ', u'Pct. ',
       u'First Season ', u'Total Games ', u'Conference'],
      dtype='object')

In [14]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North
5,6,San Francisco 49ers,545,444,14,0.550,1950,1003,NFC West
6,7,New England Patriots,478,395,9,0.547,1960,882,AFC East

In [28]:
nfl_frame['Won ']

0    510
1    752
2    741
3    443
4    182
5    545
6    478
Name: Won , dtype: int64

In [26]:
nfl_frame[nfl_frame['Won ']] > 200

IndexError: indices are out-of-bounds

In [32]:
# Selecting specific column
DataFrame(nfl_frame, columns=['Team ','First Season ', 'Total Games '])

                   Team   First Season   Total Games
0        Dallas Cowboys            1960           894
1         Chicago Bears            1920          1357
2     Green Bay Packers            1921          1339
3        Miami Dolphins            1966           792
4      Baltimore Ravens            1996           326
5   San Francisco 49ers            1950          1003
6  New England Patriots            1960           882

In [34]:
# Retriev data from the DataFrame
nfl_frame.head(4)

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East

In [36]:
nfl_frame.tail()

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North
5,6,San Francisco 49ers,545,444,14,0.550,1950,1003,NFC West
6,7,New England Patriots,478,395,9,0.547,1960,882,AFC East

In [39]:

nfl_frame.ix[5]

Rank                                6
Team             San Francisco 49ers
Won                               545
Lost                              444
Tied*                              14
Pct.                             0.55
First Season                     1950
Total Games                      1003
Conference                   NFC West
Name: 5, dtype: object

In [40]:
# Assignig value to entire colum
nfl_frame['Stadium'] = "Levis 's Stadium"

In [41]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference,Stadium
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East,Levis 's Stadium
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North,Levis 's Stadium
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North,Levis 's Stadium
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East,Levis 's Stadium
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North,Levis 's Stadium
5,6,San Francisco 49ers,545,444,14,0.550,1950,1003,NFC West,Levis 's Stadium
6,7,New England Patriots,478,395,9,0.547,1960,882,AFC East,Levis 's Stadium

In [44]:
# Filling a column with data
nfl_frame['Stadium '] = np.arange(7)
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference,Stadium,Stadium
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East,Levis 's Stadium,0
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North,Levis 's Stadium,1
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North,Levis 's Stadium,2
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East,Levis 's Stadium,3
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North,Levis 's Stadium,4
5,6,San Francisco 49ers,545,444,14,0.550,1950,1003,NFC West,Levis 's Stadium,5
6,7,New England Patriots,478,395,9,0.547,1960,882,AFC East,Levis 's Stadium,6

In [45]:
# Adding Series to DataFram

stadiums = Series(["Levis 'Stadium", "Att Stadium"], index=[5, 0])

In [46]:
stadiums

5    Levis 'Stadium
0       Att Stadium
dtype: object

In [47]:
nfl_frame['Stadium'] = stadiums

In [48]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference,Stadium,Stadium
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East,Att Stadium,0
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North,NaN,1
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North,NaN,2
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East,NaN,3
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North,NaN,4
5,6,San Francisco 49ers,545,444,14,0.550,1950,1003,NFC West,Levis 'Stadium,5
6,7,New England Patriots,478,395,9,0.547,1960,882,AFC East,NaN,6

In [50]:
# Delete a column
del nfl_frame['Lost ']

In [51]:
nfl_frame

,Rank,Team,Won,Tied*,Pct.,First Season,Total Games,Conference,Stadium,Stadium
0,1,Dallas Cowboys,510,6,0.574,1960,894,NFC East,Att Stadium,0
1,2,Chicago Bears,752,42,0.570,1920,1357,NFC North,NaN,1
2,3,Green Bay Packers,741,37,0.567,1921,1339,NFC North,NaN,2
3,4,Miami Dolphins,443,4,0.562,1966,792,AFC East,NaN,3
4,5,Baltimore Ravens,182,1,0.560,1996,326,AFC North,NaN,4
5,6,San Francisco 49ers,545,14,0.550,1950,1003,NFC West,Levis 'Stadium,5
6,7,New England Patriots,478,9,0.547,1960,882,AFC East,NaN,6

In [7]:
# Constractin dataframe with dictionnary
data = {'City':['SF', 'LA', 'NYC'], 'Population':[323435,3231231,3112412]}

In [8]:
data

{'City': ['SF', 'LA', 'NYC'], 'Population': [323435, 3231231, 3112412]}

In [12]:
# Assign the dic to a pandas DataFrame
city_frame = DataFrame(data)

In [13]:
city_frame

  City  Population
0   SF      323435
1   LA     3231231
2  NYC     3112412

In [18]:
city_frame.tail()

  City  Population
0   SF      323435
1   LA     3231231
2  NYC     3112412

In [21]:
city_frame['Location'] = ['CA','CA','NY']

In [22]:
city_frame

  City  Population Location
0   SF      323435       CA
1   LA     3231231       CA
2  NYC     3112412       NY